- name: Install Playwright Chromium dependencies
  apt:
    name:
      - libnspr4
      - libnss3
      - libatk1.0-0
      - libatk-bridge2.0-0
      - libcups2
      - libdbus-1-3
      - libdrm2
      - libgbm1
      - libgtk-3-0
      - libasound2
      - libxshmfence1
      - libxcomposite1
      - libxdamage1
      - libxfixes3
      - libxrandr2
      - libxkbcommon0
      - libxext6
      - libpango-1.0-0
      - libcairo2
    state: present
    update_cache: true

- name: Install Playwright
  pip:
    name:
      -
    state: latest
    break_system_packages: true

- name: Install Playwright
  pip:
    name:
      - playwright
    state: latest
    break_system_packages: true

- name: Install chromium dependencies
  command: >
    playwright install chromium
