- name: Install Playwright Chromium dependencies
  apt:
    name:
      - libnspr4
      - libnss3
      - libatk1.0-0t64
      - libatk-bridge2.0-0t64
      - libcups2t64
      - libatspi2.0-0t64
      - libxcomposite1
      - libxfixes3
      - libxrandr2
      - libcairo2
      - libpango-1.0-0
      - libasound2t64
    state: present
    update_cache: true

- name: Install Playwright
  pip:
    name:
      - playwright
    state: latest
    break_system_packages: true

- name: Check if Playwright Chromium is installed
  stat:
    path: /root/.cache/ms-playwright
  register: playwright_cache

- name: Install chromium dependencies
  command: playwright install chromium
  when: not playwright_cache.stat.exists
