- name: Comprobar que terraform existe
  ansible.builtin.command: terraform version
  register: tf_version
  changed_when: false

- name: Generar archivo de credentials
  ansible.builtin.copy:
    content: "{{ tf_credentials_content }}"
    dest: "{{ tf_dir }}/credentials.json"
    mode: '0600'

- name: Terraform init
  ansible.builtin.command: >
    terraform init -input=false
    {% if tf_reconfigure %}-reconfigure{% endif %}
    -backend-config="key=netbox/{{ compose_project_name }}/terraform.tfstate"
  args:
    chdir: "{{ tf_dir }}"

- name: Terraform plan (opcional pero recomendado)
  ansible.builtin.command: >
    terraform plan -input=false
  args:
    chdir: "{{ tf_dir }}"

- name: Terraform apply
  ansible.builtin.command: >
    terraform apply -input=false
  args:
    chdir: "{{ tf_dir }}"
