all:
  children:
    odoo:
      hosts:
        dv-{{ client_name }}-{{ _192_168_xx_ip4 | default('24') }}-{{ _192_168_ip3_xx }}:
          ansible_host: 192.168.{{ _192_168_xx_ip4 | default('24') }}.{{ _192_168_ip3_xx }}
          compose_project_name: {{ client_name }}
          deployment_target: {{ deployment_target | default('prod') }}
          odoo_version: {{ odoo_version | default('18') }}
          odoo_exposed_port: {{ exposed_port | default('8069') }}
          domain: {{ domain | default('eg.doovate.com') }}
          auto_install_modules: {{ auto_isntall_modules | default('true') }}
          auto_update_modules: {{ auto_update_modules | default('true') }}
          auto_create_database: {{ auto_create_databae | default('true') }}
          force_rebuild: false
          optional_whisper: {{ install_whisper | default('false') }}
