- name: Make sure necessary packages are installed
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  loop:
    - libxdamage1
    - libgbm1
    - libxkbcommon0
    - pip

- name: Install the docker launcher from pip
  pip:
    name:
      - "{{ docker_launcher }}"
    state: latest
    break_system_packages: true

- name: Clone repo to temporary location
  ansible.builtin.git:
    repo: https://github.com/doovate-beta/dv-odoo-docker.git
    dest: /tmp/docker_repo_tmp
    depth: 1
    version: main
    force: yes
  register: git_updated

- name: Sync files to production directory
  ansible.builtin.synchronize:
    src: /tmp/docker_repo_tmp/
    dest: "{{ odoo_path }}"
    delete: no
    recursive: yes
  delegate_to: "{{ inventory_hostname }}"
  when: git_updated.changed
  register: git_output
  notify: relaunch containers

- name: Create the necessary directories for the Odoo docker containers
  file:
    path: "{{ odoo_path }}/{{ item }}"
    state: directory
    mode: '0777'
  loop:
    - addons
    - cache

- name: Create the necessary files for the Odoo docker containers
  copy:
    content: ""
    dest: "{{ odoo_path }}/{{ item }}"
    force: no
    mode: '0755'
  loop:
    - cache/addons_cache.json
    - addons/requirements.txt

- name: Create .env file from template
  template:
    src: odoo.env.j2
    dest: "{{ odoo_path }}/.env"
    mode: '0644'
  register: env_file
  notify: relaunch containers

# Todo: figure out proper permissions for these directories
- name: Set 777 permissions recursively on Odoo writable directories
  file:
    path: "{{ odoo_path }}/{{ item }}"
    mode: '0777'
    recurse: yes
  loop:
    - addons
    - cache
    - config

- name: Configure containers to use available resources
  command:
    chdir: "{{ odoo_path }}"
    cmd: "{{ docker_launcher }} config auto-config"
  when: git_output.changed or env_file.changed
  ignore_errors: yes

- name: Obtain container info
  community.docker.docker_container_info:
    name: "{{ compose_project_name }}_{{ item }}"
  loop:
    - db
    - odoo
  register: container_info
  ignore_errors: yes

- name: Check if any container is down or missing
  ansible.builtin.set_fact:
    containers_stopped: true
  when: >
    (container_info.results | selectattr('exists', 'equalto', false) | list | length > 0)
    or
    (container_info.results | selectattr('exists', 'equalto', true) | selectattr('container.State.Running', 'equalto', false) | list | length > 0)

- name: Notify to relaunch if needed
  debug:
    msg: "Containers need to be relaunched"
  when: containers_stopped | default(false)
  changed_when: containers_stopped | default(false)
  notify: relaunch containers
