- name: Deploy and configure Odoo containers
  hosts: "device_roles_odoo:&{{ target_env | default('prod') }}"
  become: true

  roles:
    - docker
    - portainer_agent
    - odoo_docker
    - loki_client
    - odoo_traefik_dynamic
