- hosts: odoo
  vars:
    odoo_path: /opt/odoo

  tasks:
    - name: Make sure necessary packages are installed
      apt:
        name: "{{ item }}"
        state: latest
        update_cache: yes
      loop:
        - libxdamage1
        - libgbm1
        - libxkbcommon0
        - pip
      become: true

    - name: Install the docker launcher from pip
      pip:
        name:
          - pymtech_docker_launcher
        state: latest
        break_system_packages: true
      become: true

    - name: Clone repo to temporary location
      ansible.builtin.git:
        repo: https://github.com/doovate-beta/dv-odoo-docker.git
        dest: /tmp/docker_repo_tmp
        version: main
        force: yes
      become: true
      register: git_updated

    - name: Sync siles to production directory
      ansible.builtin.synchronize:
        src: /tmp/docker_repo_tmp/
        dest: "{{ odoo_path }}"
        delete: no
        recursive: yes
      delegate_to: "{{ inventory_hostname }}"
      become: true
      when: git_updated.changed
      register: git_output

    - name: Create the necessary sirectories for the Odoo docker containers
      file:
        path: "{{ odoo_path }}/{{ item }}"
        state: directory
        mode: '0777'
      loop:
        - addons
        - log
        - cache
      become: true

    - name: Create the necessary files for the Odoo docker containers
      copy:
        content: ""
        dest: "{{ odoo_path }}/{{ item }}"
        force: no
        mode: '0755'
      become: true
      loop:
        - cache/addons_cache.json
        - log/odoo-server.log
        - addons/requirements.txt

    - name: Create .env file from template
      template:
        src: ../templates/odoo.env.j2
        dest: "{{ odoo_path }}/.env"
        mode: '0644'
      become: true
      register: env_file

    # Todo: figure out proper permissions for these directories
    - name: Set 777 permissions recursively on Odoo writable directories
      file:
        path: "{{ odoo_path }}/{{ item }}"
        mode: '0777'
        recurse: yes
      become: true
      loop:
        - addons
        - cache
        - log
        - config

    - name: Configure containers to use available resources
      command:
        chdir: "{{ odoo_path }}"
        cmd: pymtech-docker-launcher config auto-config
      when: git_output.changed or env_file.changed
      ignore_errors: yes
      become: true

    - name: Relaunch containers
      command:
        chdir: "{{ odoo_path }}"
        cmd: pymtech-docker-launcher
      when: git_output.changed or env_file.changed
      ignore_errors: yes
      become: true

    # Todo: Move to separate playbook
    - name: Deploy Portainer Agent
      community.docker.docker_container:
        name: portainer_agent
        image: portainer/agent:2.33.3
        state: started
        restart_policy: always
        ports:
          - "9001:9001"
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - /var/lib/docker/volumes:/var/lib/docker/volumes
          - /:/host