- hosts: traefik

  tasks:
    - name: Make sure necessary packages are installed
      apt:
        name: "{{ item }}"
        state: latest
        update_cache: yes
      loop:
        - pip
      become: true

    - name: Install required Python packages
      pip:
        name: docker
        state: present
      become: true

    - name: Ensure traefik external network exists
      community.docker.docker_network:
        name: traefik
      become: true

    - name: Clone repo to temporary location
      ansible.builtin.git:
        repo: https://github.com/doovate-beta/dv-traefik-docker.git
        dest: /tmp/docker_repo_tmp
        version: main
        force: yes
      become: true
      register: git_updated

    - name: Sync files to traefik directory
      ansible.builtin.synchronize:
        src: /tmp/docker_repo_tmp/
        dest: /opt/traefik/
        delete: no
        recursive: yes
      delegate_to: "{{ inventory_hostname }}"
      become: true
      when: git_updated.changed
      register: copy_repo

    - name: Create the necessary directories for the traefik docker containers
      file:
        path: /opt/traefik/{{ item }}
        state: directory
      loop:
        - letsencrypt
        - config/dynamic
      become: true

    - name: Create the necessary files for the traefik docker containers
      copy:
        content: "{}"
        dest: /opt/traefik/letsencrypt/acme.json
        force: no
        mode: '0600'
      become: true

    - name: Set odoo hosts data
      set_fact:
        odoo_hosts_data: |
          {%- set hosts_data = [] -%}
          {%- for host in groups['odoo'] -%}
            {%- set _ = hosts_data.append({
                'name': host | regex_replace('[^a-zA-Z0-9._-]', '_'),
                'ansible_host': hostvars[host]['ansible_host'],
                'compose_project_name': hostvars[host]['compose_project_name'],
                'domain': hostvars[host]['domain'],
                'odoo_exposed_port': hostvars[host]['odoo_exposed_port']
            }) -%}
          {%- endfor -%}
          {{ hosts_data }}
      run_once: true

    - name: Create dynamic.yml files from template for each Odoo host
      template:
        src: ../templates/dynamic.yml.j2
        dest: /opt/traefik/config/dynamic/{{ item.name }}.yml
        mode: '0644'
      loop: "{{ odoo_hosts_data }}"
      vars:
        ansible_host: "{{ item.ansible_host }}"
        compose_project_name: "{{ item.compose_project_name }}"
        domain: "{{ item.domain }}"
        odoo_exposed_port: "{{ item.odoo_exposed_port }}"
      become: true


    - name: Restart the traefik container
      shell:
        cmd: docker compose down && docker compose up -d
        chdir: /opt/traefik/
      become: true
      when: copy_repo.changed
